@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --hue: 250;
    --sat: 66%;
    --lig: 75%;

    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 71%);

    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);

    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    --gradient-bg: linear-gradient(180deg, #6F1926 0%, #942031 30%, #E5C121 100%);

    --text-light: #fff;
    --text-dark: #000;

    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

}


html, body {
    height: 100%;
    background: var(--gradient-bg) !important;
    color: var(--text-light);
}